$light-color:#ffffff;
$secondary-color:#1fdb84;
$primary-color:#313a5a;
$primary-text-color:#5b6c94;
$tertiary-color:#f1fff8;
$dark-blue:#031d5b;
$base-font-size: 16px;
$viewport-xsm:339px;
$viewport-sm:481px;
$viewport-sm-2:565px;
$viewport-md-1:660px;
$viewport-md:769px;
