.card-container {
 
    position: relative;
    right:0px;
    height: calc(1200px - 600px);
    z-index: 1;
    margin: 120px 0px 15px 250px;
    display: flex;
    // width: 1100px;
    overflow: hidden;
    transition: all 0.6s ease;
    // transform: translateX(-1400px);
   width: 85%;
    
    .active {
        &:nth-child(1) {
            color: $light-color;
            border-radius: 6px;
            backdrop-filter: blur(10px);
            box-shadow: 12px 12px 20px 0 rgba(31, 219, 132, 0.5);
            background-color: $secondary-color;
        }

        &::before {
            content: url(https://i.ibb.co/sQ1XyJj/group-6.png);
            width: 50px;
            height: 50px;
            transform: rotate(-1deg);
        }
    }

    .card {

        height: 400px;
        color:$primary-text-color;
        padding: 50px 30px 46px;
        display: flex;
        flex-direction: column;
        margin: 40px 10px 0 0;
        background-color: $light-color;
        border-radius: 6px;
        &:nth-of-type(2){
            position: relative;
            left: 40px;
        }
        &:nth-of-type(3){
            position: relative;
            left: 80px;
        }

        .card-text {
            font-size: $base-font-size;
            line-height: 2;
            font-weight: normal;
            margin-top: 26px;
        }

        &:nth-of-type(1) {
            h5 {
                position: relative;
                bottom: 0;
            }
        }

        &:nth-of-type(3) {
            h5 {
                position: relative;
                bottom: 0;
            }
        }
        &:nth-child(2),
        &:nth-child(3) {
            &::before {
                content: url(https://i.ibb.co/g3wgxgY/group-7.png);
                width: 50px;
                height: 50px;
            }
        }

    }
}
@include breakpoints(map-get($breakpoints,"viewport-sm")) {
        .card-container{
            margin: 50px 0px 15px 80px;      
            .card{
                margin: 70px 0 0 80px;
                width: 275px;
                height: 400px;
                padding: 30px 25px 30px;
                &:nth-child(2),&:last-child{
                    display: none
                }

                .card-text {
                    margin-top: 10px;
                }
            }
            
        }
    
 }
 @include breakpoints(map-get($breakpoints,"viewport-xsm")){
    .card-container{
        width: 500px;
        position: relative;
        right: 60px;     
    }
 }
 @media (max-width:470px){
    .card-container{
        width: 500px;
        margin-left:40px;      
    }
 }
 @media (max-width:$viewport-xsm){
    .card-container{
        margin-left: 5px;
        width: 300px;  
        position: relative;
        right: 60px;  
    }
 }
 @media (min-width:$viewport-sm) and (max-width:$viewport-md){
    .card-container{
        margin: 50px 0px 15px 70px;   
        
        width: 100%;
        .card{
            margin-top: 70px;
            width: 255px;
            height: 380px;
            padding: 30px 25px 30px;
        &:last-child{
                display: none
            }

            .card-text {
                margin-top: 10px;
                font-size: 15px;
            }
        }
        
    }
 }
 @media (max-width:$viewport-md-1){
    .card-container{
        margin-left:10px;
        .card{
            width: 250px;
            height: 380px;
            padding: 30px 25px 30px;
            .card-text {
                margin-top: 10px;
                font-size: 13px;
            }
        }
    }
 }

 @include breakpoints(map-get($breakpoints,"viewport-xl")){
    .card-container{
        .card{
            padding: 30px 25px 30px;
            .card-text {
                margin-top: 10px;
                font-size: 13px;
            }
        }
    }
 }
 