.card-container {
    position: relative;
    right: 0px;
    height: calc(1200px - 600px);
    z-index: 1;
    margin: 120px 0px 15px 350px;
    display: flex;
    justify-content: flex-end;
    min-width: 2120px;
    width: 100%;
    overflow: hidden;
    transition: all 0.6s ease;
    .card {
        width: 420px;
        height: 400px;
        color: $primary-text-color;
        padding: 50px 30px 40px;
        display: flex;
        flex-direction: column;
        margin: 40px 10px 0 0;
        background-color: $light-color;
        border-radius: 6px;

        &::before {
            content: url(https://i.ibb.co/g3wgxgY/group-7.png);
            width: 50px;
            height: 50px;
        }

        .card-text {
            font-size: $base-font-size;
            line-height: 2;
            font-weight: normal;
            margin-top: 26px;
        }

    }
    .active {
        color: $light-color;
        border-radius: 6px;
        box-shadow: 12px 12px 20px 0 rgba(31, 219, 132, 0.5);
        background-color: $secondary-color;

        &::before {
            content: url(https://i.ibb.co/sQ1XyJj/group-6.png);
            width: 50px;
            height: 50px;
        }
    }
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
    .slider::after {
        width: 100%;
    }
    .card-container {
        justify-content: flex-start;
        // margin: 50px 0px 15px 80px;
        position: relative;
        right: 10px;

        .card {
            width:370px;
            padding: 30px 25px 30px;

            .card-text {
                margin-top: 10px;
            }
        }
    }
}

@include breakpoints(map-get($breakpoints, "viewport-xsm")) {
    .slider::after {
        width: 100%;
    }
    .card-container {
        width: 350px;
        height: 400px;
        position: relative;
    }
}

@media (max-width:470px) {
    .card-container {
        position: relative;
        right: 100px;
        width: 400px;
        height: 500px;
        margin-left: 10px;
        .card{
            margin-left: 90px;
            &:nth-child(3){
            }
        }
    }
}

@media (max-width:$viewport-xsm) {
    .slider::after {
        width: 100%;
    }
    .card-container {
        margin-left: 5px;
        width: 300px;
        position: relative;
        right: 60px;
    }
}

@media (min-width:$viewport-sm) and (max-width:$viewport-md) {
    .slider::after {
        width: 100%;
    }
    .card-container{
        position: relative;
        right: 150px;
        justify-content: flex-start;
        .card {
                    margin-top: 70px;
                    padding: 30px 25px 30px;
                    display: flex;
                    justify-content: center;
        
                    .card-text {
                        margin-top: 10px;
                        // font-size: 15px;
                    }
                }
    }
}

@media (max-width:$viewport-md-1) {
    .slider::after {
        width: 100%;
    }
}

@include breakpoints(map-get($breakpoints, "viewport-xl")) {
    .card-container {
        .card {
            padding: 30px 25px 30px;
            height: 370px;
            .card-text {
                margin-top: 10px; 
            }
        }
    }
}