.package {
    margin-top: 70px;
    h2 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.6;
        color: #32325c;
    }
}
@include breakpoints(map-get($breakpoints,"viewport-sm")) {
    .package{
        h2{
            font-size: 24px;
        }
    }
}
@include breakpoints(map-get($breakpoints,"viewport-md")) {
    .package{
        h2{
            font-size: 24px;
        }
    }
}
